* {
    border: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    place-items: center;
}
header img {
    width: 50px;
    height: 30px;
    transform: translateX(-150px);
    position: fixed;
}
header svg {
    width: 30px;
    height: 30px;
    transform: translateX(100px);
    position: fixed;
    

}
#header1 {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 50px;
    padding: 10px;
}
#off2 {
    display: none;
}
main {
    place-items: center;
    text-align: center;
}
#div1 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 20px;
    row-gap: 25px;
}
#div1 button {
    width: 150px;
    height: 40px;
    justify-self: center;
    background-color: rgb(238, 215, 11);
}

#div2 {
    background-color: rgb(238, 215, 11);
    min-height: 320px;
}

#div2 img {
    
    width: 250px;
    height: 250px;
    transform: translateY(40px);
    

}
footer {
    background-color: black;
    color: aliceblue;
    min-height: 20vh;
    text-align: center;
    place-items: center;
    width: 100%;
}
footer p {
    transform: translateY(60px);
}

@media only screen and (min-width: 1000px){
    #header1 {
        display: grid;
        grid-template-columns: auto auto;
        min-height: 100px;
        padding: 10px;
    }
    body {
        display: grid;
        grid-template-rows: auto auto auto;
        place-items: center;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    #div1 button {
        
        
        justify-self: center;
        background-color: rgb(238, 215, 11);
    }

    #off1 {
        display: none;
      }
    
      #off2 {
        display: grid;
        grid-template-columns: auto auto;
        
        transform: translateX(300px);
        align-self: end;
        column-gap: 90px;
       
        
      }

    #div1 {
        row-gap: 50px;
        
    }
    #div2 {
        background-color: rgb(238, 215, 11);
        min-height: 60vh;
        width: 100%;
        
        
    }

    #div2 img {
    
        width: 300px;
        height: 400px;
        max-height: fit-content;
        transform: translateY(150px);
        position: relative;
    }
        
        
    footer {
        background-color: black;
        color: aliceblue;
        min-height: 20vh;
        text-align: center;
        place-items: center;
        width: 100%;
        
    }
    footer p {
        transform: translateY(110px);
    }

}

